async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
ffmpeg
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
Flask
gunicorn
pytube
cloudscraper
BeautifulSoup
bs4
